In [2]:
%matplotlib inline

import matplotlib.pyplot as plt

import pandas as pd
df_vg_sales = pd.read_csv('vgsales.csv')
df_vg_sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Which company is the most common video game publisher?

In [5]:
most_common_publisher = df_vg_sales['Publisher'].mode()[0]
print(most_common_publisher)

Electronic Arts

# What’s the most common platform?

In [7]:
most_common_platform = df_vg_sales["Platform"].mode()[0]
print(most_common_platform)

DS

# What about the most common genre?

In [9]:
most_common_genre = df_vg_sales["Genre"].mode()[0]
print(most_common_genre)

Action

# What are the top 20 highest grossing games?

In [13]:
top_20_highest_grossing_games= df_vg_sales[["Name","Global_Sales"]].head(20)
top_20_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, what’s the median?
   - Provide a secondary output showing ten games surrounding the median sales output.
   - Assume that games with same median value are sorted in descending order.

In [14]:
North_American_video_game_sales = df_vg_sales["NA_Sales"].median()
North_American_video_game_sales

0.08

In [16]:
games_median_values=df_vg_sales[['Name','NA_Sales']].loc[df_vg_sales['NA_Sales']==North_American_video_game_sales]
middle=len(games_median_values)
ten_median_names=games_median_values[(middle//2)-5:(middle//2)+5]
ten_median_names

                                     Name  NA_Sales
9931             Spider-Man: Edge of Time      0.08
9934                     Turok: Evolution      0.08
9957                             Deadpool      0.08
9996           GT Advance 2: Rally Racing      0.08
10000                      A Witch's Tale      0.08
10012                   Nickelodeon Dance      0.08
10020            Phantasy Star Collection      0.08
10022               LEGO Knights' Kingdom      0.08
10024  Family Game Night 4: The Game Show      0.08
10026                        NBA Jam 2002      0.08

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [18]:
top_highest= df_vg_sales[['NA_Sales','Global_Sales']].sort_values(by='Global_Sales',ascending=False).head(1)

std = df_vg_sales['NA_Sales'].std()
mean = df_vg_sales['NA_Sales'].mean()

SA = (top_highest - mean ) / std
SA.values[0][0]

50.47898767479108

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [21]:
average_wii = df_vg_sales[df_vg_sales['Platform'] == 'Wii']
global_sales = average_wii.Global_Sales
avg = global_sales.mean()
print(f"The average number of sales seems Wii: {avg}")

otherAverage = df_vg_sales[df_vg_sales['Platform'] != 'Wii']
global_sales_not_Wii = otherAverage.Global_Sales
avg_other = global_sales_not_Wii.mean()
print(f"The average number of sales not seems Wii: {avg_other}")

The average number of sales seems Wii: 0.6994037735849057
The average number of sales not seems Wii: 0.5233896418516336

# Come up with 3 more questions that can be answered with this data set

In [22]:
# What is the mean for the EU_Sales ?
Eu_sales_mean=df_vg_sales['EU_Sales'].mean()
Eu_sales_mean

0.14665200626581515

In [24]:
# What is the second best selling game?
second_game=df_vg_sales['Name'][1]
second_game

'Super Mario Bros.'

In [25]:
# What is the median for Global sales?
median_global_sales=df_vg_sales['Global_Sales'].median()
median_global_sales

0.17

In [26]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_20_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_20_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(North_American_video_game_sales, 0.08)
    assert_equal(SA.values[0][0], 50.47898767479108)
    assert_equal(avg, 0.6994037735849057)
    assert_equal(avg_other, 0.5233896418516336)
    
    assert_equal(Eu_sales_mean, 0.14665200626581515)
    assert_equal(second_game, 'Super Mario Bros.')
    assert_equal(median_global_sales, 0.17)


    print("Success!!!")

test()

Success!!!